/cmake-build-debug-mingw/.ninja_deps
/cmake-build-debug-mingw/.ninja_log
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdC/a.exe
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdC/a.exe
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
/cmake-build-debug-mingw/app.log
/cmake-build-debug-mingw/CMakeFiles/Log.dir/build.make
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/build.make
/cmake-build-debug-mingw/build.ninja
/cmake-build-debug-mingw/.cmake/api/v1/query/cache-v2
/doc/cmake-build-debug-mingw/.cmake/api/v1/query/cache-v2
/cmake-build-debug-mingw/.cmake/api/v1/reply/cache-v2-79488f59cb12e102d5da.json
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/cache-v2-b93b4dab79df1e182973.json
/cmake-build-debug-mingw/CMakeFiles/clion-Debug-MinGW-log.txt
/doc/cmake-build-debug-mingw/CMakeFiles/clion-Debug-MinGW-log.txt
/cmake-build-debug-mingw/CMakeFiles/clion-environment.txt
/doc/cmake-build-debug-mingw/CMakeFiles/clion-environment.txt
/cmake-build-debug-mingw/CMakeFiles/cmake.check_cache
/doc/cmake-build-debug-mingw/CMakeFiles/cmake.check_cache
/cmake-build-debug-mingw/CMakeFiles/Log.dir/cmake_clean.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/cmake_clean.cmake
/cmake-build-debug-mingw/CMakeFiles/Log.dir/cmake_clean_target.cmake
/cmake-build-debug-mingw/cmake_install.cmake
/doc/cmake-build-debug-mingw/cmake_install.cmake
/cmake-build-debug-mingw/CMakeCache.txt
/doc/cmake-build-debug-mingw/CMakeCache.txt
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-mingw/CMakeFiles/CMakeConfigureLog.yaml
/doc/cmake-build-debug-mingw/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-mingw/CMakeFiles/CMakeDirectoryInformation.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug-mingw/.cmake/api/v1/query/cmakeFiles-v1
/doc/cmake-build-debug-mingw/.cmake/api/v1/query/cmakeFiles-v1
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/cmakeFiles-v1-819322d3cdcfe5218880.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/cmakeFiles-v1-ccf06690695658621f55.json
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeSystem.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug-mingw/.cmake/api/v1/query/codemodel-v2
/doc/cmake-build-debug-mingw/.cmake/api/v1/query/codemodel-v2
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/codemodel-v2-3c669128188d7c6a14be.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/codemodel-v2-9bac295db73eb7a9b540.json
/cmake-build-debug-mingw/CMakeFiles/Log.dir/compiler_depend.internal
/cmake-build-debug-mingw/CMakeFiles/Log.dir/compiler_depend.make
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/compiler_depend.make
/cmake-build-debug-mingw/CMakeFiles/Log.dir/compiler_depend.ts
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/compiler_depend.ts
/cmake-build-debug-mingw/CMakeFiles/Log.dir/Config.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/Config.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/depend.make
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/depend.make
/cmake-build-debug-mingw/CMakeFiles/Log.dir/DependInfo.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/DependInfo.cmake
/cmake-build-debug-mingw/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug-mingw/CMakeFiles/Log.dir/FileReader.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/FileReader.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/FileWriter.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/FileWriter.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/flags.make
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/flags.make
/cmake-build-debug-mingw/.cmake/api/v1/reply/index-2025-10-01T07-11-58-0150.json
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/index-2025-10-01T07-20-38-0028.json
/cmake-build-debug-mingw/Testing/Temporary/LastTest.log
/cmake-build-debug-mingw/libLog.dll
/cmake-build-debug-mingw/libLog.dll.a
/cmake-build-debug-mingw/CMakeFiles/Log.dir/link.txt
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/link.txt
/cmake-build-debug-mingw/CMakeFiles/Log.dir/linkLibs.rsp
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/linkLibs.rsp
/cmake-build-debug-mingw/CMakeFiles/Log.dir/Log.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/Log.cpp.obj.d
/cmake-build-debug-mingw/log_config.txt
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogConfigReader.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogConfigReader.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogConfigWriter.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogConfigWriter.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogConsoleWriter.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogConsoleWriter.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogFac.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogFac.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogFileWriter.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogFileWriter.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogSystem.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/LogSystem.cpp.obj.d
/cmake-build-debug-mingw/CMakeFiles/Log.dir/main.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/main.cpp.obj.d
/cmake-build-debug-mingw/Makefile
/doc/cmake-build-debug-mingw/Makefile
/cmake-build-debug-mingw/CMakeFiles/Makefile.cmake
/doc/cmake-build-debug-mingw/CMakeFiles/Makefile.cmake
/cmake-build-debug-mingw/CMakeFiles/Makefile2
/doc/cmake-build-debug-mingw/CMakeFiles/Makefile2
/cmake-build-debug-mingw/CMakeFiles/Log.dir/objects.a
/cmake-build-debug-mingw/CMakeFiles/Log.dir/objects1.rsp
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/objects1.rsp
/cmake-build-debug-mingw/CMakeFiles/Log.dir/progress.make
/doc/cmake-build-debug-mingw/CMakeFiles/Log.dir/progress.make
/cmake-build-debug-mingw/CMakeFiles/progress.marks
/doc/cmake-build-debug-mingw/CMakeFiles/progress.marks
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/target-Log-Debug-8a1762206dbbd3b11ca0.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/target-Log-Debug-eed5067ce88a23082463.json
/cmake-build-debug-mingw/CMakeFiles/TargetDirectories.txt
/doc/cmake-build-debug-mingw/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-mingw/.cmake/api/v1/query/toolchains-v1
/doc/cmake-build-debug-mingw/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-mingw/.cmake/api/v1/reply/toolchains-v1-762a94b35312708b26b7.json
/doc/cmake-build-debug-mingw/.cmake/api/v1/reply/toolchains-v1-762a94b35312708b26b7.json
/cmake-build-debug-mingw/CMakeFiles/Log.dir/Util.cpp.obj
/cmake-build-debug-mingw/CMakeFiles/Log.dir/Util.cpp.obj.d
.idea/
*.iml
*.iws
*.ipr
doc/cmake-build-*/